@import "vendor/vars";
@import "vendor/reset";
@import "vendor/mixins";

html {
    font-size: 62.5%;
}
body {
    font-family: sans-serif;
    background-color: $bg;
    font-family: Arial, Helvetica, sans-serif;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
a {
    color: $white;
    text-decoration: none
}
.wrap {    
    max-width: 1920px;
}

@import"blocks/header";
@import"blocks/footer";
@import"blocks/nav";
@import"blocks/btn";
@import"blocks/card";
@import"blocks/slider";
@import"blocks/services";
@import"blocks/benefits";
@import"blocks/history";