@import "vendor/vars";
@import "vendor/reset";
@import "vendor/mixins";

html {
    font-size: 62.5%;
}
body {
    font-family: sans-serif;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
a {
    color: $white;
    text-decoration: none
}

@import"blocks/header";
@import"blocks/footer";
@import"blocks/btn";
@import"blocks/card";