.card {
    width: 320px;
    min-height: 220px;
    padding: 24px;
    border-radius: 20px;
    color: $darkbrown;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.card__heading {
    line-height: 4rem;
    font-size: 3rem;
}
.card__text {
    font-size: 2rem;
    line-height: 2rem;
}
.card__inner {
    @include flex(space-between, end,row)
}
