<footer class="footer">
    <div class="footer__wrap">
        <div class="footer__nav frnav">
            <div class="frnav__heading">
                <h4 class="frnav__heading_h">Айболит</h4>
                <p class="frnav__heading_text">ветеринарная клиника</p>
            </div>
            <div class="frnav__nav">
                    <a href="" class="frnav__nav_link">Политика конфиденциальности в отношении обработки персональных данных</a>
                    <a href="" class="frnav__nav_link">Главная</a>
                    <a href="" class="frnav__nav_link">Услуги и цены</a>
                    <a href="" class="frnav__nav_link">История компании</a>
                    <a href="" class="frnav__nav_link">Наши специалисты</a>
                    <a href="" class="frnav__nav_link">Вакансии</a>
                    <a href="" class="frnav__nav_link">Реквизиты</a>
                    <a href="" class="frnav__nav_link">Онлайн-оплата</a>
                    <a href="" class="frnav__nav_link">Отзывы</a>
                    <a href="" class="frnav__nav_link">Контакты</a>
                    <a href="" class="frnav__nav_link">Груминг-салон</a>
                    <a href="" class="frnav__nav_link">Косметика</a>
                    <a href="" class="frnav__nav_link">Новости и акции</a>
                    <a href="" class="frnav__nav_link">Блог</a>
            </div>
        </div>
        <div class="footer__social social">
            <div class="social__store">
                <a href="#"><img src="../assets/images/appstore.png" alt=""></a>
                <a href="#"><img src="../assets/images/googleplay.png" alt=""></a>
            </div>
            <div class="social__icons">
                <div class="social__icons_item"></div>
                <div class="social__icons_item"></div>
                <div class="social__icons_item"></div>
                <div class="social__icons_item"></div>
            </div>
            <div class="social__email">
                <a href="mailto:aibolit34.ru" class="social__email_links">aibolit34.ru</p>
                <a href="mailto:aibolit34@gmail.com"ass="social__email_links">aibolit34@gmail.com</p>
            </div>
        </div>
    </div>
</footer>
